<% provide(:title, "Contact") %>

<!-- <title><%= yield(:title) %></title> --> 

<h1>Contact</h1>
<p>
  <em>Welcome</em>
  <!--<a href="https://github.com/DRY9p">GitHub</a>-->
  <%= link_to "GitHub", "https://github.com/DRY9p"%>
</p>