<% provide(:title, "Help") %>

<!-- <title><%= yield(:title) %> | wow... heh...</title> -->
<h1>Cr9Co0 App</h1>
<p>
  This is the about page for the
  <a href="https://github.com/DRY9p"><em>GitHub</em></a>
  sample application.
</p>
<h2>
  <!--<a href="http://127.0.0.1:3000/static_pages/home">Home</a>-->
  <%= link_to "Home", root_path%>
</h2>
