<div class='center jumbotron'>
  <h1>Cr9Co0 App</h1>
  <h2>
    This is the home page for my
    <a href="https://github.com/DRY9p">GitHub</a>
    sample application.
  </h2>
  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
  <!-- a href="#" class="btn btn-lg btn-primary">Sign up now!</a!-->
  <!-- img alt="Rails logo" width="200px" src="/assets/rails-<long string>.svg"><!-->
</div>

<div>
  <%= link_to image_tag("pngegg.png", alt: "Rails logo", width: "200"), "https://github.com/DRY9p" %>
  <!--
  <h3>Hey, meow...</h3>
  <%= link_to image_tag("kitten.jpg", alt: "kitten", width: "200"), "https://live.staticflickr.com/3864/14144861329_62acda93ce_b.jpg" %>-->
</div>

