<footer class="footer">
  <small>
    Powered by <a href="https://github.com/DRY9p">Cr9Co0</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="https://github.com/DRY9p">News</a></li>
    </ul>
  </nav>
</footer>